.contentContainer {
  display: flex;
  flex-direction: flex;
  justify-content: space-between;

  padding: 0 5rem;
  padding-bottom: 3rem;

  margin-top: 3rem;
}

.contentContainer h2 {
  margin: 0;
  font-size: var(--font-size-xl);
  line-height: var(--line-height-xl);
  font-weight: normal;
}

.logoContainer {
  display: flex;
  height: 80px;
  gap: 1rem;
}

.logoContainer p {
  margin: 0;
}

.logoContainer p:first-child {
  font-weight: bold;
  font-size: var(--font-size-lg);
  line-height: var(--line-height-lg);
}

.linksContainer {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}
