.container {
  border-top-width: 1px;
  border-color: rgb(199 199 199 / 0.2);
  background-color: var(--color-white);
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.wrapper {
  margin-bottom: 2.5rem;
  display: flex;
  flex-direction: column;
}

.logoContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
  width: fit-content;
}

.nameText {
  font-weight: bold;
}

.sloganText {
  font-size: var(--font-size-sm);
  color: var(--color-gray);
}

.contentContainer {
  margin-top: 2rem;
}

.contentContainer p {
  font-weight: bold;
}

.linksContainer > :not([hidden]) ~ :not([hidden]) {
  --__space-y-reverse: 0;
  margin-top: calc(1rem * calc(1 - var(--__space-y-reverse)));
  margin-bottom: calc(1rem * var(--__space-y-reverse));
}

.legalText {
  margin-top: auto;
  font-size: var(--font-size-sm);
}

@media screen and (min-width: 768px) {
  .container {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .wrapper {
    flex-direction: row;
    justify-content: space-between;
  }

  .logoContainer {
    justify-content: flex-start;
    gap: 1rem;
  }

  .contentContainer {
    margin-top: 0;
  }

  .linksContainer > :not([hidden]) ~ :not([hidden]) {
    --__space-y-reverse: 0;
    margin-top: calc(0.5rem * calc(1 - var(--__space-y-reverse)));
    margin-bottom: calc(0.5rem * var(--__space-y-reverse));
  }
}
