.navbarContainer {
  position: fixed;
  top: 0;

  background-color: var(--color-white);
  z-index: 50;

  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  padding: 0 1rem;

  width: 100%;
}

.navbarContainer > nav {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-left: auto;
  margin-right: auto;

  padding: 1rem;
}

.logoContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  font-size: 1.5rem;
  line-height: 2rem;

  width: 100%;
}

.logoWrapper {
  display: flex;
  align-items: center;
  gap: 0.75rem;

  text-decoration: none;
}

.hamburgerMenu {
  outline: none;
  border: none;
  background-color: transparent;

  margin-left: auto;
  color: var(--color-primary);
  cursor: pointer;
}

.hamburgerMenu:focus-within {
  box-shadow: inset 0 0 0 2px var(--color-primary);
}

.hamburgerMenu:active {
  color: var(--color-primary-dark);
}

.linksWrapper {
  position: fixed;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;

  top: 8vh;
  width: 100%;
  height: calc(100% - 8vh);

  display: flex;
  flex-direction: column;

  justify-content: flex-start;
  align-items: center;

  background-color: var(--color-white);
}

.linksWrapperActive {
  transform: translateX(0%);
  transition: transform 0.3s ease-in-out;
}

.linksWrapper > ul {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}

.linksWrapper a {
  text-decoration: none;
}

@media screen and (min-width: 1024px) {
  .logoContainer {
    max-width: fit-content;
    margin-right: auto;
  }

  .navbarContainer {
    padding: 0 4rem;
  }

  .hamburgerMenu {
    display: none;
  }

  .linksWrapper {
    position: static;
    transform: translateX(0%);
    transition: none;
    width: fit-content;

    display: flex;
    flex-direction: row;

    height: auto;
    background-color: transparent;
  }

  .linksWrapper > ul {
    flex-direction: row;
    align-items: center;

    /* width: 70%; */
    margin-right: 2rem;
    height: auto;
  }
}
