.buttonBase {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonDefault {
  padding: 0.75rem 2rem;
  font-size: var(--font-size-md);
}

.buttonLarge {
  padding: 1rem 3rem;
}

.buttonExtraLarge {
  padding: 1.25rem 4rem;
  
  font-size: var(--font-size-lg);
  line-height: var(--line-height-lg);
}

.buttonFilled {
  background-color: var(--color-primary);
  text-decoration: none;
  
  border: solid 4px var(--color-primary);
  border-radius: 0.25rem;

  color: var(--color-white);
  font-weight: bold;

  transition: background-color 200ms ease-in-out, border-color 200ms ease-in-out;
}

.buttonFilled:hover {
  background-color: var(--color-primary-dark);
  border-color: var(--color-primary-dark);

  color: var(--color-white);
  transition: background-color 200ms ease-in-out, border-color 200ms ease-in-out;
}

.buttonOutlined {
  background-color: transparent;
  text-decoration: none;

  border: solid 4px var(--color-primary);
  border-radius: 0.25rem;

  color: var(--color-primary);
  font-weight: bold;

  transition: background-color 200ms ease-in-out, border-color 200ms ease-in-out, color 200ms ease-in-out;
}

.buttonOutlined:hover {
  background-color: transparent;
  border-color: var(--color-primary-dark);
  color: var(--color-primary-dark);

  transition: background-color 200ms ease-in-out, border-color 200ms ease-in-out, color 200ms ease-in-out;
}
