/* Estilos para o componente Botão */
.buttonDefault {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;

  padding-left: 2rem;
  padding-right: 2rem;
}

.buttonLarge {
  padding-top: 1rem;
  padding-bottom: 1rem;

  padding-left: 3rem;
  padding-right: 3rem;
}

.buttonExtraLarge {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;

  padding-left: 4rem;
  padding-right: 4rem;

  font-size: 1.125rem;
  line-height: 1.75rem;
}

.button {
  background-color: hsl(103 44% 39%);

  border-style: solid;
  border-width: 4px;
  border-color: hsl(103 44% 39%);
  border-radius: 0.25rem;

  color: white;
  font-weight: bold;
}

.button:hover {
  background-color: hsl(103 44% 34%);
  border-color: hsl(103 44% 34%);

  color: white;
}

.buttonOutlined {
  background-color: transparent;

  border-style: solid;
  border-width: 4px;
  border-color: hsl(103 44% 39%);
  border-radius: 0.25rem;

  color: hsl(103 44% 39%);
  font-weight: bold;
}

.buttonOutlined:hover {
  background-color: transparent;

  border-color: hsl(103 44% 34%);
  color: hsl(103 44% 34%);
}
