/* Estilos do componente CustomerCard */
.container {
  margin-bottom: 2rem;
  height: 100%;
}

.title {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: semibold;
  margin-bottom: 1.5rem;
}

.imageContainer {
  display: flex;
  align-items: center;
  margin-top: 2rem;
}

.imageContainer > img {
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
  border-radius: 100%;
}

.person {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: rgb(75 85 99)
}
