.container {}

.container + .container {
  margin-top: 2rem;
}

.leftContainer {}

.rightContainer {}

.container img {
  width: 100%;
  height: auto;
  object-fit: cover;
} 

.leftContainer p,
.rightContainer p {
  color: var(--color-black);
}

@media screen and (min-width: 1024px) {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .containerReversed {
    flex-direction: row-reverse;
  }

  .leftContainer {
    width: 50%;
    padding-right: 2rem;
  }

  .containerReversed .leftContainer {
    padding-right: 0;
    padding-left: 2rem;
  }

  .rightContainer {
    width: 50%;
    padding-left: 2rem;
  }

  .containerReversed .rightContainer {
    padding-left: 0;
    padding-right: 2rem;
  }

  .container + .container {
    margin-top: 5rem;
  }
}
