.blog-post-content-container p {
  margin-bottom: 2rem;
  text-align: justify;
}

.footer-title {
  font-weight: semibold;
  font-size: 1.125rem;
  letter-spacing: 1px;
}

/* Navbar */
.navbar-container {
  position: fixed;
  top: 0;
  background-color: white;
  z-index: 50;

  width: 100%;
}

/* Card Grid */
.card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
}
