/* Blog */
.blog-post-content-container p + p {
  margin-top: 2rem;
  text-align: justify;
}

.blog-post-content-container h1,
.blog-post-content-container h2,
.blog-post-content-container h3,
.blog-post-content-container h4,
.blog-post-content-container h5,
.blog-post-content-container h6 {
  font-family: Montserrat, sans-serif;
}

.blog-post-content-container ul {
  list-style-type: disc;
  list-style-position: inside;
}

.blog-post-content-container p + ul {
  margin-bottom: 2rem;
}

.blog-post-content-container p + figure {
  margin-top: 2rem;
}

.blog-post-content-container img,
.blog-post-content-container iframe {
  margin-left: auto;
  margin-right: auto;
}

.blog-post-content-container * > img, 
.blog-post-content-container * > iframe {
  margin-left: auto;
  margin-right: auto;
}

.blog-post-content-container * > iframe + p {
  text-align: center;
}

.blog-post-content-container figure {
  color: gray;
  margin-bottom: 2rem;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}

.blog-post-content-container figure img {
  margin-left: auto;
  margin-right: auto;
}

.blog-post-content-container figure figcaption {
  text-align: center;
  font-size: 0.825rem;
  margin-top: 0.5rem;
}

.blog-number {
  align-self: center;
}

.post-list-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 1024px) {
  .post-list-grid {
    display: grid;
    grid-template-columns: 325px auto;
    justify-content: flex-start;
    align-items: center;
  }
}

.footer-title {
  font-weight: semibold;
  font-size: 1.125rem;
  letter-spacing: 1px;

  text-align: left;

  margin-top: 1rem;
  margin-bottom: 1rem;
}

.footer-title + a > span {
  margin-left: 0.5rem;
}

/* text-3xl lg:text-5xl font-semibold */
.title {
  font-size: 1.875rem; /* 30px */
  line-height: 2.25rem; /* 36px */
  font-weight: semibold;
}

/* Navbar */
.navbar-container {
  position: fixed;
  top: 0;
  background-color: white;
  z-index: 50;

  width: 100%;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.navbar-container > nav {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-left: auto;
  margin-right: auto;

  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 640px) {
  .navbar-container > nav {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .navbar-container > nav {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .navbar-container > nav {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .navbar-container > nav {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .navbar-container > nav {
    max-width: 1536px;
  }
}

.logo-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  font-size: 1.5rem;
  line-height: 2rem;

  width: 100%;
}

.logo-wrapper {
  display: flex;
  align-items: center;
}

.logo-image {
  wdith: 3rem;
  margin-right: 0.75rem;
}

.hamburger-menu {
  margin-left: auto;
  color: hsl(103 44% 39%);
  cursor: pointer;
}

.hamburger-menu:active {
  color: hsl(103 44% 34%);
}

.links-container {
  margin-left: auto;
  display: none;
}

.mobile-links-container {
  position: fixed;
  z-index: 50;

  background-color: white;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  top: 10vh;
}

.contact-button-container {
  display: none;
  margin-left: 1rem;
}

@media (min-width: 1024px) {
  .logo-container {
    width: auto;
  }

  .hamburger-menu {
    display: none;
  }

  .links-container {
    display: flex;
  }

  .contact-button-container {
    display: block;
  }
}

/* Card Grid */
.card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
}

/* Sobre */
.equipe-grid {
  display: grid;
  align-self: center;
  gap: 2rem;
}

/* Estilos para telas grandes */
@media (min-width: 1024px) {
  .equipe-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Estilos do componente Card */
.card-container {
  padding: 3rem;

  border-width: 1px;
  border-radius: 0.5rem;
  border-style: solid;
  border-color: rgb(229 231 235);

  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

/* Estilos do component Botão */
.button-default {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;

  padding-left: 2rem;
  padding-right: 2rem;
}

.button-large {
  padding-top: 1rem;
  padding-bottom: 1rem;

  padding-left: 3rem;
  padding-right: 3rem;
}

.button-extra-large {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;

  padding-left: 4rem;
  padding-right: 4rem;

  font-size: 1.125rem;
  line-height: 1.75rem;
}

.button {
  background-color: hsl(103 44% 39%);

  border-style: solid;
  border-width: 4px;
  border-color: hsl(103 44% 39%);
  border-radius: 0.25rem;

  color: white;
  font-weight: bold;
}

.button:hover {
  background-color: hsl(103 44% 34%);
  border-color: hsl(103 44% 34%);

  color: white;
}

.button-outlined {
  background-color: transparent;

  border-style: solid;
  border-width: 4px;
  border-color: hsl(103 44% 39%);
  border-radius: 0.25rem;

  color: hsl(103 44% 39%);
  font-weight: bold;
}

.button-outlined:hover {
  background-color: transparent;

  border-color: hsl(103 44% 34%);
  color: hsl(103 44% 34%);
}

/* Estilos do componente Bio */
.bio-container {
  display: flex;
  flex-direction: column;

  margin-top: 4rem;
  margin-bottom: 4rem;
}

.bio-logo-container {
  display: flex;

  align-items: center;
  justify-content: flex-start;

  margin-bottom: 2rem;
}

.bio-paragraph {
  margin-left: 0.5rem;
}

/* Estilos do componente ContactForm */
.form-container {
  display: flex;
  flex-direction: column;

  padding-left: 4rem;
  padding-right: 4rem;
}

.form-container > form {
  flex: 1 1 0%;
}

.form-input-container {
  margin-bottom: 1rem;
}

.form-input-container > label {
  display: block;

  color: black;
  font-weight: bold;
  text-align: left;

  margin-bottom: 0.5rem;
}

.form-input-container > label > input,
.form-input-container > label > textarea {
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  width: 100%;

  appearance: none;

  border-width: 1px;
  border-radius: 0.25rem;

  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  padding-left: 0.75rem;
  padding-right: 0.75rem;

  color: rgb(55 65 81);
  line-height: 1.25;
}

.form-input-container > label > input:focus,
.form-input-container > label > textarea:focus {
  outline: none;
  outline-offset: 2px;
  box-shadow: 0 0 0 3px rgb(59 130 246 / 0.45);
}

.form-input-container > label > textarea {
  min-height: 300px;
}

.form-button {
  width: 100%;
  margin-top: 0.5rem;
}

.form-info-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  margin-top: 2rem;
}

@media (min-width: 768px) {
  .form-container {
    flex-direction: row;
  }

  .form-container > form {
    margin-right: 4rem;
  }

  .form-info-container {
    margin-top: 0;
  }
}

/* Estilos do componente Tag */
.tag-container {
  margin-right: 0.5rem;

  background-color: hsl(103 44% 44%);
  color: white;

  padding: 0.25rem;
  border-radius: 0.375rem;
}

/* Estilos do componente StatsBox */
.stats-box-primary {
  font-size: 2.25rem;
  line-height: 2.5rem;

  font-weight: bold;
  color: hsl(103 44% 39%);
}

.stats-box-secondary {
  font-weight: semibold;
  margin-bottom: 1.5rem;
}

@media (min-width: 1024px) {
  .stats-box-primary {
    font-size: 3.75rem;
    line-height: 1;
  }
}

/* Estilos do componente SplitSection */
.split-section-container {
  padding-top: 5rem;
  padding-bottom: 5rem;
  padding-left: 4rem;
  padding-right: 4rem;

  width: 100%;
  margin-right: auto;
  margin-left: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.split-section-secondary {
  margin-top: 2.5rem;
  width: 100%;
}

.split-section-secondary-reverse {
  order: 9999;
}

@media (min-width: 640px) {
  .split-section-container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .split-section-container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .split-section-container {
    max-width: 1024px;
    flex-direction: row;
  }

  .split-section-primary {
    width: 50%;
  }

  .split-section-secondary {
    margin-top: 0;
    width: 50%;
  }

  .split-section-secondary-reverse {
    order: -9999;
  }
}

@media (min-width: 1280px) {
  .split-section-container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .split-section-container {
    max-width: 1536px;
  }
}

/* Estilos do componente Socials */
.socials-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.socials-title {
  font-weight: semibold;
  font-size: 1.125rem;
  letter-spacing: 1px;
}

.socials-container > ul {
  line-height: 2;
}

.socials-item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.socials-item span {
  margin-left: 1rem;
}

/* Estilos do componente Services */
@media (min-width: 1024px) {
  .service-container-right {
    padding-right: 8rem;
  }

  .service-container-left {
    padding-left: 8rem;
  }
}

@media (min-width: 1280px) {
  .service-container-right {
    padding-right: 12rem;
  }

  .service-container-left {
    padding-left: 12rem;
  }
}

.service-title {
  font-size: 1.875rem;
  line-height: 1.25rem;

  font-weight: semibold;
}

.service-description {
  margin-top: 2rem;
  font-size: 1.25rem;
}

/* Estilos do componente Person */
.person-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.person-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  margin-top: 1rem;
}

.person-name {
  width: max-content;
  font-weight: bold;
}

.person-image {
  border-radius: 100%;
}

/* Estilos do componente LabelText */
.label-text {
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

/* Estilos do componente CustomerCard */
.customer-card-container {
  margin-bottom: 2rem;
  height: 100%;
}

.customer-title {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: semibold;
  margin-bottom: 1.5rem;
}

.customer-image-container {
  display: flex;
  align-items: center;
  margin-top: 2rem;
}

.customer-image {
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
  border-radius: 100%;
}

.customer-person-title {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: rgb(75 85 99)
}

/* Estilos do componente Input da calculadora carbônica */
.input-container {
  margin-top: 1rem;

  display: flex;
  flex-direction: column;

  width: 100%;
}

.input-container input,
.input-container select {
  background-color: rgb(243 244 246);
  padding: 0.5rem;

  width: 100%;
}

.input-section-text {
  font-weight: bold;
}

/* Estilos do componente Perguntas */
.questions-title {
  font-size: 1.5rem;
  line-height: 2rem;

  color: hsl(103 44% 34%);
}

@media (min-width: 1024px) {
  .questions-title {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
}

/* Estilos do componente Resultados */
.results-section-title {
  font-size: 1.5rem;
  line-height: 2rem;

  color: hsl(103 44% 34%);
}

.results-division-title {
  font-size: 1.25rem;
  line-height: 1.75rem;

  color: rgb(75 85 99);
}

.results-type-text {
  color: hsl(103 44% 34%);
  font-weight: bold;
}

@media (min-width: 1024px) {
  .results-section-title {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }

  .results-division-title {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
