/* Início */
.landing-section {
  background-image: 
    linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../static/images/landing.jpg");
  background-size: cover;
  height: 80vh;
}

.landing-title {
  max-width: 23ch;
}

@media (min-width: 1024px) {
  .landing-section p {
    max-width: 65%;
  }
}

/* Blog */
.blog-post-content-container p + p {
  margin-bottom: 2rem;
  text-align: justify;
}

.blog-post-content-container ul {
  list-style-type: disc;
  list-style-position: inside;
}

.blog-post-content-container p + ul {
  margin-bottom: 2rem;
}

.blog-post-content-container img {
  margin-left: auto;
  margin-right: auto;
}

.blog-post-content-container * > img, 
.blog-post-content-container * > iframe {
  margin-left: auto;
  margin-right: auto;
}

.blog-post-content-container * > iframe + p {
  text-align: center;
}

.blog-post-content-container figure {
  color: gray;
  margin-bottom: 2rem;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}

.blog-post-content-container figure img {
  margin-left: auto;
  margin-right: auto;
}

.blog-post-content-container figure figcaption {
  text-align: center;
  font-size: 0.825rem;
  margin-top: 0.5rem;
}

.blog-number {
  align-self: center;
}

.footer-title {
  font-weight: semibold;
  font-size: 1.125rem;
  letter-spacing: 1px;
}

/* text-3xl lg:text-5xl font-semibold */
.title {
  font-size: 1.875rem; /* 30px */
  line-height: 2.25rem; /* 36px */
  font-weight: semibold;
}

/* Navbar */
.navbar-container {
  position: fixed;
  top: 0;
  background-color: white;
  z-index: 50;

  width: 100%;
}

/* Card Grid */
.card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
}

/* Sobre */
.equipe-grid {
  display: grid;
  align-self: center;
  gap: 2rem;
}

/* Estilos para telas grandes */
@media (min-width: 1024px) {
  .equipe-grid {
    grid-template-columns: repeat(8, 1fr);
  }
}
