@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Bebas Neue', cursive;
}

p,
div,
span {
  font-family: 'Montserrat', sans-serif;
}

a {
  @apply text-primary-default;
}

a:hover {
  @apply text-primary-darker;
}
